<!DOCTYPE html>
<html>
  <head>
    <title>SBTrainer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #f5f5ef;">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <a class="navbar-brand" href="#">
            <img src="logo.svg" alt="" width="70" >
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Championships', championships_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="view" style="background-image: url('http://localhost:3000/background2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-black-light align-items-center">
        <div class="container">
          <% if flash[:alert] %>
            <br/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= flash[:alert] %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
          <% if flash[:notice] %>
            <br/>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <%= flash[:notice] %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
          <br/>
          <br/>
          <br/>
          <br/>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
